# API Gateway (ESB)
NEXT_PUBLIC_API_URL=http://localhost:8080

# Backend directo para rewrites (next.config.js)
SOAP_BACKEND_URL=http://localhost:8081/ws

# Microservicios (para panel de arquitectura)
NEXT_PUBLIC_AUTH_URL=http://localhost:8090
NEXT_PUBLIC_LOTE_URL=http://localhost:8081
NEXT_PUBLIC_MONITOREO_URL=http://localhost:8082
NEXT_PUBLIC_CERTIFICACION_URL=http://localhost:8083
NEXT_PUBLIC_REGISTRY_URL=http://localhost:8084
